<% layout('../layout') -%>
<div class="row">
  <div class="col-sm-12">
    <h1><%= title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Lifespan</th>
        </tr>
      </thead>
      <tbody>
        <% author_list.forEach(function(author) { %>
          <tr onclick="window.location='<%= author.url %>';">
             <td><%= author.first_name %></td>
             <td><%= author.family_name %></td>
             <td>
                <%= author.lifespan %>
             </td>

           </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
