<% layout('../layout') -%>
<div class="row">
  <div class="col-sm-12">
    <h1>Genre : <%= genre.name %></h1>
  </div>
</div>
<div class="row">
  <% genre_books.forEach(function(book) { %>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= book.author.name %></h6>
        <p class="card-text"><%= book.summary %></p>
        <a href="<%= book.url %>" class="card-link">Details</a>
      </div>
    </div>
  </div>
  <% }); %>
</div>
